html{
    width: 100%;
    height: 100%;
}
    
body{
    margin: 0;
    padding: 0;
    font-family: "Roboto","Segoe UI","Arial", "sans-serif";
    font-weight: 400; /* Roboto Regular */
    background: linear-gradient(black 65%,#BC13FE 98%, #BF00FF 99%,#BE00FE 100%);
    color: white;
}

main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
}

nav{
    margin: 1px 1px;
    padding: 1px 20px;
    border-radius: 10px;
    background-color: #FF0534;
    box-shadow: 
        0 0 1px #FF0534,
        0 0 5px #FF0534,
        0 0 10px #FF0534,
        0 0 20px #FF0534,
    inset 0 0 25px #FF0534;
    display: flex;
}

ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

#logo{
    width: 75px;
    height: 75px;
    margin: 0;
    padding: 0;
}

#perfil{
    width: 300px;
    height: 300px;
    border: solid;
    border-color: #1E90FF;
    border-radius: 25px;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background: linear-gradient(135deg, #000000 0%, #0f0f0f  33.33%, #212121 66.66%, #282828 100%);
}

a{
    text-decoration: none;
    color: white;
}

/*RIPPLE RINGS 736efe */
.menu {
    position: relative;
    overflow: visible;
    transition: all 0.3s ease;
    margin: 0 5px;
    font-weight: 900; /* Roboto Black */  
    padding: 5px 15px;
    display: flex;
    align-items: center;
}

.menu::before,
.menu::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 3px solid #555555;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    opacity: 0;
}

.menu:hover {
    transform: scale(1.05);
    box-shadow: 
        0 0 25px rgba(255, 255, 255, 1),
        0 0 45px rgba(31, 31, 31, 0.6);
    background: linear-gradient(135deg, #282828 0%, #1F1F1F  100%);
    padding: 5px 20px;
    margin: 0 2px;
    border-radius: 10px;
}

.menu:hover::before {
    animation: ring-expand 1.5s ease-out infinite;  
}

.menu:hover::after {
    animation: ring-expand 1.5s ease-out 0.5s infinite;
}

@keyframes ring-expand {
    0% {
    width: 100%;
    height: 100%;
    opacity: 0.8;
    }
    100% {
    width: 160%;
    height: 200%;
    opacity: 0;
    }
}

.btn-download {
  display: inline-flex;
  align-items: center;
  padding: 12px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  transition: background-color 0.3s ease;
}

.btn-download:hover {
  background-color: #0056b3;
}

#nombre {
    color: #00BFFF;
    font-weight: 700; /* Roboto Bold */
}

#apellido {
    color: #BC13FE;
    font-weight: 700; /* Roboto Bold */
}

.text-container {
    text-align: center;
}

.text-container p {
    text-align: justify;
}